<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
  
</head>

<form>
<div class="ui raised very padded center aligned text container segment" style="margin-top: 5%; margin-bottom: 330px;">
  <h1 class="ui header">Log in</h1>
  <br>
  <div class="field">
   <div class="ui left icon input">
  <i class="mail outline icon"></i>
    <input type="email" name="email" placeholder="Email Address" autofocus="true" required>
  </div></div>
<br>
    <div class="field">
  <div class="ui left icon input">
<i class="lock icon"></i>
    <input type="password" name="password" placeholder="Password" required>
  </div></div>
<br>
  
  <div class="field">
  <div class="ui left icon input">
  <i class="lock icon"></i>
   <input type="password" name="password_confirmation" placeholder="Password Confirmation">
  </div></div><br>

  <div class="actions">
    <button class=" ui large teal button" type="submit">Log in</button>
  </div>
  <br>
  <p>Don't have an account? <a href="#"> Sign up </a>
</div>
</form>

