
<div class="catagories">
  
    <button class="main" (click)="clicktoWomen()">Women</button>
    <button class="main" (click)="clicktoMen()">Men</button>
    <button class="main" (click)="clicktoOthers()">Others</button>
</div>

<ul>
    <li *ngFor="let men of mencloths">
        <a >        
            <img src="{{men.imageUrl}}" alt="men cloths" routerLink="/mencloth/{{men.id}}">
            <div class="content">
                <div class="name">
                    {{men.name}}
                    <span id="main" (click)="toggle(men)" class="favorite {{men.favorite?'':'not'}}"><i class="fa-solid fa-heart"></i></span>
                </div>
                <div class="tags">
                    {{men.tags}}
                   </div>
                   <div class="price">
                    {{men.price|currency}}
                    <span class="star">
                        {{men.star}}
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                   </div>
                   <div class="product-item-footer">
                   <!-- <div class="origins">
                    {{food.origins}}
                   </div> -->
                </div>
            </div>
        </a>

    </li>
</ul>
