

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
   <div class="wrapper">
    <div class="sidebar">
        <ul>
          <li class="logo"><img src='/assets/logo.png' style="height: 100px; margin-left: 30px; border: 1px solid black;"></li>
          
            <li style="margin-top: 10px;">
                <a  (click)="clicktohome()">
                    <span class="item"><span class="icon"><i class="fas fa-home"></i></span>Home</span>
                </a>
            </li>
            <li>
                <a (click)="clicktoProduct()">
                    <span class="item"><span class="icon"><i class="fas fa-shopping-bag"></i></span>Product</span>
                </a>
            </li>
            <li>
                <a (click)="Clicktosale()">
                    <span class="item"><span class="icon"><i class="fas fa-user"></i></span>Sale</span>
                </a>
            </li>
            <li>
                <a (click)="clicktotrash()">
                    <span class="item"><span class="icon"><i class="fas fa-trash"></i></span>Trash</span>
                </a>
            </li>
        </ul>
  </div>
</div>