<div class="offer">
    <h1 class="sale">Top sales</h1>   
    <div class="container">
        <div class="row">
           
            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4" style="padding-right: 40px;" >
                <a>
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/assets/sale1.jpg" alt="offer" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
  
                            <div class="offer-info">
                                <p class="heading-bigger text-capitalize">SALE 30%</p>
                                <P class="offer-title-1 text-uppercase font-weight-bold">Don't miss this chance</P>
                                <button (click)="click()" type="button" class="btn btn text-uppercase mt-4">
                                    shop now
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 

            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4" style="padding-right: 40px;">
                <a href="">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/assets/sale5.jpg" alt="offer" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
  
                            <div class="offer-info">
                                <p class="heading-bigger text-capitalize">SALE 10%</p>
                                <P class="offer-title-1 text-uppercase font-weight-bold">Don't miss this chance</P>
                                <button (click)="click()" type="button" class="btn btn text-uppercase mt-4">
                                    shop now
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 

            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4" style="padding-right: 40px;">
                <a href="">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/assets/sale6.jpg" alt="offer" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
  
                            <div class="offer-info">
                                <p class="heading-bigger text-capitalize">SALE 50%</p>
                                <P class="offer-title-1 text-uppercase font-weight-bold">Don't miss this chance</P>
                                <button (click)="click()" type="button" class="btn btn text-uppercase mt-4">
                                    shop now
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 


            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4" style=" margin-top: 70px;padding-right: 40px;">
                <a >
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/assets/sale8.jpg" alt="offer" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
  
                            <div class="offer-info">
                                <p class="heading-bigger text-capitalize">SALE 25%</p>
                                <P class="offer-title-1 text-uppercase font-weight-bold">Don't miss this chance</P>
                                <button (click)="click()" type="button" class="btn btn text-uppercase mt-4">
                                    shop now
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 

            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4"  style=" margin-top: 70px;padding-right: 40px;">
                <a href="">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/assets/sale2.jpg" alt="offer" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
  
                            <div class="offer-info">
                                <p class="heading-bigger text-capitalize">SALE 10%</p>
                                <P class="offer-title-1 text-uppercase font-weight-bold">Don't miss this chance</P>
                                <button (click)="click()" type="button" class="btn btn text-uppercase mt-4">
                                    shop now
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 

            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4" style=" margin-top: 70px;padding-right: 40px;">
                <a href="">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/assets/sale3.jpg" alt="offer" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
  
                            <div class="offer-info">
                                <p class="heading-bigger text-capitalize">SALE 40%</p>
                                <P class="offer-title-1 text-uppercase font-weight-bold">Don't miss this chance</P>
                                <button  (click)="click()" type="button" class="btn btn text-uppercase mt-4">
                                    shop now
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 


            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4"  style=" margin-top: 70px;padding-right: 40px;">
                <a href="">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/assets/sale7.jpg" alt="offer" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
  
                            <div class="offer-info">
                                <p class="heading-bigger text-capitalize">SALE 60%</p>
                                <P class="offer-title-1 text-uppercase font-weight-bold">Don't miss this chance</P>
                                <button (click)="click()" type="button" class="btn btn text-uppercase mt-4">
                                    shop now
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 


            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4"  style=" margin-top: 70px;padding-right: 40px;">
                <a href="">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/assets/sale9.jpg" alt="offer" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
  
                            <div class="offer-info">
                                <p class="heading-bigger text-capitalize">SALE 30%</p>
                                <P class="offer-title-1 text-uppercase font-weight-bold">Don't miss this chance</P>
                                <button (click)="click()" type="button" class="btn btn text-uppercase mt-4">
                                    shop now
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 


            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4"  style=" margin-top: 70px;padding-right: 40px;">
                <a href="">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="/assets/sale10.jpg" alt="offer" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
  
                            <div class="offer-info">
                                <p class="heading-bigger text-capitalize">SALE 50%</p>
                                <P class="offer-title-1 text-uppercase font-weight-bold">Don't miss this chance</P>
                                <button (click)="click()" type="button" class="btn btn text-uppercase mt-4">
                                    shop now
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 
        </div> 
    </div> 
</div> 
