<div class="catagories">
  
    <button class="main" (click)="clicktoWomen()">Women</button>
    <button class="main" (click)="clicktoMen()">Men</button>
    <button class="main" (click)="clicktoOthers()">Others</button>
</div>



<ul>
    <li *ngFor="let cloth of cloths">
        <a >
        <img src="{{cloth.imageUrl}}" alt="cloths" routerLink="/cloth/{{cloth.id}}">
        <div class="content">
            <div class="name">
                {{cloth.name}}
                <span (click)="toggle(cloth)"  class="favorite {{cloth.favorite?'':'not'}}"><i class="fa-solid fa-heart"></i></span>
            </div>
            <div class="tags">
                {{cloth.tags}}
               </div>
               <div class="price">
                {{cloth.price|currency}}
                <span class="star">
                    {{cloth.star}}
                    <i class="fa fa-star" aria-hidden="true"></i>
                </span>
               </div>
               <div class="product-item-footer">
               <!-- <div class="origins">
                {{food.origins}}
               </div> -->
            </div>
        </div>
    </a>
    </li>
</ul>
